---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<nav class="h-24 flex items-center">
				<div class="w-1/6">
					<img src="/images/wallapop.svg" alt="wallapop" class="lg:w-43 sm:w-96" />
				</div>
			</nav>
            <slot />
        </main>
	</body>
</html>
